experimental settings
bin
Debug
manuals/odt/~*
manuals/odt/.~*

**/*.launch
.vscode
releases
src/controller/main.ihx
src/controller/Result.log
tools/Java_Configurator_Source/classes/
tools/Java_Configurator_Source/dist/
tools/Java_Configurator_Source/nbproject/private/
tools/Java_Configurator_Source/nbbuild/
tools/Java_Configurator_Source/nbdist/
/tools/Java_Configurator_Source/build/
